@import "tailwindcss";

@theme {
  --color-primary: var(--color-teal-600);
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2rem;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}
